<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="pythonFastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\inetpub\flask\env\Scripts\python.exe|C:\inetpub\flask\env\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
    <appSettings>
    <!-- Required settings -->
    <add key="WSGI_HANDLER" value="app.app" />
    <add key="PYTHONPATH" value="C:\inetpub\flask" />
    </appSettings>
    <connectionStrings>
        <remove name="LocalSqlServer" />
        <add connectionString="Server=IP,Port_Number;Database=Company_Name;User ID= DB_ID ;Password= DB_Password" name= Sever_Name providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <sessionState mode="SQLServer" sqlConnectionString="LocalSqlServer" />
    </system.web>
</configuration>
